<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10';
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<section class="row titleRow">
		<div class="container">
			<div style="text-align:left" class="col-md-6 col-sm-6">
				<h1 class="mainTitle">Roupas do Brasil e da Europa</h1>
			</div>
			<div style="text-align:right" class="col-md-6 col-sm-6">
				<img class="topIcon" src="img/icon32.png"/>
			</div>
		</div>
	</section>
	<section class="row firstFormRow">
		<div class="container">
			<div class="col-md-6" style="text-align: center;">
				<img class="mainPicture" src="img/icon360.png"/>
			</div>
			<div class="row col-md-6 mainForm">
				<form  id="contact-form" method="post" action="contact.php" role="form">

					<div class="messages"></div>

					<div class="controls">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_name">Nome *</label>
									<input id="form_name" ng-model="contactForm.name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Nome é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_email">Email *</label>
									<input id="form_email" ng-model="contactForm.email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Um email válido é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_phone">Telefone / Whatsapp *</label>
									<input id="form_phone" ng-model="contactForm.phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone" required="required" data-error="Número de telefone é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="form_message">Mensagem (opcional)</label>
									<textarea id="form_message" ng-model="contactForm.message" name="message" class="form-control" placeholder="Deixe-nos uma mensagem." rows="4"></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<input type="submit" class="btn btn-success btn-send" value="Enviar">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="text-muted"><strong>*</strong> Esses campos são obrigatórios.</p>
							</div>
						</div>
						
					</div>

				</form>
			</div>
		</div>
	</section>
	<section class="row listRow">
		<div class="container" style="text-align:left;">
			<div class="card" ng-repeat="item in purchaseItems">
				<img src="{{item.image_url}}" alt="{{item.name}}" class="cardImg" style="width:100%">
				<div class="cardTextContainer">
					<h4><b>{{item.name}}</b></h4> 
					<h4><b>{{item.price}}</b></h4> 
					<p><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></p> 
				</div>
			</div>
		</div>
	</section>
	<section class="row secondFormRow">
			<div class="row secondaryForm">
				<form  id="contact-form" method="post" action="contact.php" role="form" class="container">

					<div class="messages"></div>

					<div class="controls">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_name">Nome *</label>
									<input id="form_name" ng-model="contactForm.name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Nome é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_email">Email *</label>
									<input id="form_email" ng-model="contactForm.email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Um email válido é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="form_phone">Telefone / Whatsapp *</label>
									<input id="form_phone" ng-model="contactForm.phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone" required="required" data-error="Número de telefone é necessário.">
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="form_message">Mensagem (opcional)</label>
									<textarea id="form_message" ng-model="contactForm.message" name="message" class="form-control" placeholder="Deixe-nos uma mensagem." rows="4"></textarea>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<input type="submit" class="btn btn-success btn-send" value="Enviar">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="text-muted"><strong>*</strong> Esses campos são obrigatórios.</p>
							</div>
						</div>

					</div>

				</form>
			</div>
	</section>
</body>
</html>
